@using ServerPolaris.Models.ViewModels;
@model List<VMMenu>;

@{
    string menucollapse = "menucollapse";
    int correlativo = 1;
}


@foreach (var menu in Model)
{

    if (menu.submodulos.Count == 0)
    {
        <li class="nav-item">
            <a class="nav-link" href="@($"/{menu.ModUrl}")">
                <i class="@menu.ModIcono"></i>
                <span>@menu.ModNombre</span>
            </a>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="@($"#{menucollapse}{correlativo}")">
                <i class="@menu.ModIcono"></i>
                <span>@menu.ModNombre</span>
            </a>

            <div id="@($"{menucollapse}{correlativo}")" class="collapse" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @foreach (var submenu in menu.submodulos)
                    {
                        <a class="collapse-item" href="@($"/{submenu.ModUrl}")">
                            <i class="@submenu.ModIcono"></i>
                            <span>@submenu.ModNombre</span>
                        </a>
                    }
                </div>
            </div>
        </li>
        correlativo = correlativo + 1;
    }
}